IBMWatsonMQTTRele/flows.json
[{"id":"92979922.a1ce28","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"a723b4c2.96f058","type":"change","z":"92979922.a1ce28","name":"Muda payload para ir para controles","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Home_Group1\"],\"show\":[\"Home_Relay_1\",\"Home_Relay_2\",\"Home_GroupLogout\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":120,"wires":[["1ba8c279.0a02fe"]]},{"id":"ff033d95.6f11c","type":"switch","z":"92979922.a1ce28","name":"Redireciona pós login","property":"payload.login","propertyType":"msg","rules":[{"t":"regex","v":"correto","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":542.5,"y":122.25,"wires":[["a723b4c2.96f058"],[]]},{"id":"608a1c71.f4e7f4","type":"function","z":"92979922.a1ce28","name":"checkLogin","func":"if(msg.payload.login == 'casa' \n    && msg.payload.password == '152535')\n{\n    var log = msg.payload.login;\n    var pwd = msg.payload.password;\n    \n    msg.payload.login = 'correto';\n    msg.payload.password = 'correto';\n    return msg;\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290.5,"y":122.25,"wires":[["ff033d95.6f11c"]]},{"id":"9684d012.84f78","type":"ibmiot out","z":"92979922.a1ce28","authentication":"apiKey","apiKey":"72e17666.181418","outputType":"cmd","deviceId":"001","deviceType":"ESP32","eventCommandType":"comando","format":"json","data":"{\"data\":\"data\"}","qos":0,"name":"commandRelay","service":"registered","x":1043.5832595825195,"y":804.6666488647461,"wires":[]},{"id":"f0f77a0e.02a318","type":"function","z":"92979922.a1ce28","name":"ParserToLabelR1","func":"if(msg.payload.value == 1)\n{\n    msg.payload = 'ON';\n    return msg;\n}\nelse\n{\n    msg.payload = 'OFF';\n    return msg;\n}","outputs":1,"noerr":0,"x":338.49999618530273,"y":574.1666746139526,"wires":[["a83378c9.69c518"]]},{"id":"bbef83bb.7c45c","type":"function","z":"92979922.a1ce28","name":"ParserToLabelR2","func":"if(msg.payload.value == 1)\n{\n    msg.payload = 'ON';\n    return msg;\n}\nelse\n{\n    msg.payload = 'OFF';\n    return msg;\n}","outputs":1,"noerr":0,"x":430.833309173584,"y":1181.6666259765625,"wires":[["9f7f9771.71d038"]]},{"id":"7ffbe9a.c6c5518","type":"change","z":"92979922.a1ce28","name":"Muda payload para ir para controles","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"show\":[\"Home_Group1\"],\"hide\":[\"Home_Relay_1\",\"Home_Relay_2\",\"Home_GroupLogout\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":748.5,"y":263.5,"wires":[["1ba8c279.0a02fe"]]},{"id":"b159261a.e13138","type":"comment","z":"92979922.a1ce28","name":"Formulario de Login","info":"Formulario contendo os campo de de usuario e senha \npara autenticação.\n\nSe login correto: manda comando para o UI_CONTROL \n    esconder o formulário e mostrar os controles\n    dos relés;\n    \nSe login incorreto: apenas limpa o formulário;\n","x":419,"y":82.25,"wires":[]},{"id":"7a587f9a.83204","type":"comment","z":"92979922.a1ce28","name":"Sinal de que abriu no browser","info":"Quando a página do node red é aberta no browser \n(pela primeira vez) esse bloco dispara um sinal \npara então o UI_CONTROL esconder os blocos de \ncontrole  e mostrar o de login.\n\n\n-Isso é necessário porque não temos como esconder\nwidgets por padrão, apenas por meio de código.","x":483.5,"y":225.25,"wires":[]},{"id":"3acf0de4.6194e2","type":"comment","z":"92979922.a1ce28","name":"LOGOUT","info":"Evento de logout, esconderá as widgets de controle e \nmostrará o formulário de Login.","x":782.1666564941406,"y":364.2500114440918,"wires":[]},{"id":"a3dd31c6.f0eac","type":"comment","z":"92979922.a1ce28","name":"Status Inicial do relé","info":"Ao abrir a página no browser, esse sinal é enviado\npara o PARSER setar a fução do STATUS_RELÉ como OFF.","x":365.4999771118164,"y":357.58335304260254,"wires":[]},{"id":"5c67e58b.8ec22c","type":"function","z":"92979922.a1ce28","name":"configureCommandTypeR1","func":"\nmsg.eventOrCommandType = 'commandR1';\nreturn msg;","outputs":1,"noerr":0,"x":709.2897186279297,"y":676.2945032119751,"wires":[["9684d012.84f78"]]},{"id":"2791804c.08827","type":"function","z":"92979922.a1ce28","name":"configureCommandTypeR2","func":"\nmsg.eventOrCommandType = 'commandR2';\nreturn msg;","outputs":1,"noerr":0,"x":715.2839508056641,"y":882.2746829986572,"wires":[["9684d012.84f78"]]},{"id":"7be676cd.dcac98","type":"ui_button","z":"92979922.a1ce28","name":"Logout","group":"e346bab9.7158c8","order":4,"width":"0","height":"0","passthru":false,"label":"Logout","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Home_Relay_1\",\"Home_Relay_2\",\"Home_GroupLogout\"],\"show\":[\"Home_Group1\"]}}","payloadType":"json","topic":"","x":750.7500114440918,"y":408.50000381469727,"wires":[["1ba8c279.0a02fe"]]},{"id":"35127ed3.963a62","type":"ui_button","z":"92979922.a1ce28","name":"R1_ON","group":"5e9cab9f.17c2a4","order":1,"width":"2","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"{\"value\":1}","payloadType":"json","topic":"","x":60.5,"y":611.9166707992554,"wires":[["f0f77a0e.02a318","5c67e58b.8ec22c"]]},{"id":"f3b7957a.93bc88","type":"ui_button","z":"92979922.a1ce28","name":"R2_OFF","group":"687d4dab.e58794","order":2,"width":"2","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"{\"value\":0}","payloadType":"json","topic":"","x":86.08327865600586,"y":1151.9165906906128,"wires":[["bbef83bb.7c45c","2791804c.08827"]]},{"id":"f701794.9bce888","type":"ui_button","z":"92979922.a1ce28","name":"R1_OFF","group":"5e9cab9f.17c2a4","order":2,"width":"2","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"{\"value\":0}","payloadType":"json","topic":"","x":56.5,"y":757.9166707992554,"wires":[["f0f77a0e.02a318","5c67e58b.8ec22c"]]},{"id":"437fb980.2d0c28","type":"ui_button","z":"92979922.a1ce28","name":"R2_ON","group":"687d4dab.e58794","order":1,"width":"2","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"{\"value\":1}","payloadType":"json","topic":"","x":89.08327865600586,"y":1015.9165906906128,"wires":[["bbef83bb.7c45c","2791804c.08827"]]},{"id":"8fc45b88.07e298","type":"ui_form","z":"92979922.a1ce28","name":"formlogin","label":"","group":"5726eec4.37004","order":2,"width":"0","height":"0","options":[{"label":"Login","value":"login","type":"text","required":true},{"label":"Senha","value":"password","type":"password","required":true}],"formValue":{"login":"","password":""},"payload":"","topic":"","x":75.5,"y":122.25,"wires":[["608a1c71.f4e7f4"]]},{"id":"a83378c9.69c518","type":"ui_text","z":"92979922.a1ce28","group":"5e9cab9f.17c2a4","order":3,"width":"2","height":"1","name":"StatusRelay1","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":557.7499923706055,"y":576.1666584014893,"wires":[]},{"id":"9f7f9771.71d038","type":"ui_text","z":"92979922.a1ce28","group":"687d4dab.e58794","order":3,"width":"2","height":"1","name":"StatusRelay2","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":637.3332290649414,"y":1181.1666450500488,"wires":[]},{"id":"b8c5931f.5a08b","type":"ui_template","z":"92979922.a1ce28","group":"5726eec4.37004","name":"","order":0,"width":0,"height":0,"format":"<script>\n(function() {\n    var count = 0\n    function testit(msg,scope) {\n        count = count+1;\n        console.log(\"In testit \" + msg.payload + \"  count = \" + count);\n        scope.send({payload: \"from testit \" + msg.payload + \"  count = \" + count});\n    }\n    \n    (function(scope) {\n        scope.send({payload: \"preload\"});   // this gets sent when the view is opened in the browser\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                testit(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":306,"y":262.5,"wires":[["7ffbe9a.c6c5518","f0f77a0e.02a318","bbef83bb.7c45c"]]},{"id":"1ba8c279.0a02fe","type":"ui_ui_control","z":"92979922.a1ce28","name":"","x":1102.75,"y":267.25,"wires":[[]]},{"id":"72e17666.181418","type":"ibmiot","z":"","name":"Sender","keepalive":"60","serverName":"","cleansession":false,"appId":"","shared":false},{"id":"e346bab9.7158c8","type":"ui_group","z":"","d":true,"name":"Sair","tab":"54ab44d8.8d44bc","order":4,"disp":false,"width":"4","collapse":false},{"id":"5e9cab9f.17c2a4","type":"ui_group","z":"","name":"Portão Garagem","tab":"54ab44d8.8d44bc","order":2,"disp":true,"width":"4","collapse":false},{"id":"687d4dab.e58794","type":"ui_group","z":"","name":"Iluminação Sala","tab":"54ab44d8.8d44bc","order":3,"disp":true,"width":"4","collapse":false},{"id":"5726eec4.37004","type":"ui_group","z":"","d":true,"name":"Login","tab":"54ab44d8.8d44bc","order":2,"disp":true,"width":"6","collapse":false},{"id":"54ab44d8.8d44bc","type":"ui_tab","z":"","name":"Casa Márcia","icon":"dashboard","order":1,"disabled":false,"hidden":false}]