IBMWatsonMQTTRele/flow_node_Red.txt
[
    {
        "id": "52b29458.dc0e1c",
        "type": "change",
        "z": "c6d74da4.44853",
        "name": "Muda payload para ir para controles",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Home_Group1\"],\"show\":[\"Home_Relay_1\",\"Home_Relay_2\",\"Home_GroupLogout\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 878.5,
        "y": 57.75,
        "wires": [
            [
                "a362c8c9.00a508"
            ]
        ]
    },
    {
        "id": "eee8d946.3b9e98",
        "type": "switch",
        "z": "c6d74da4.44853",
        "name": "Redireciona pós login",
        "property": "payload.login",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "correto",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 551,
        "y": 60,
        "wires": [
            [
                "52b29458.dc0e1c"
            ],
            []
        ]
    },
    {
        "id": "e9b4da5c.89e618",
        "type": "function",
        "z": "c6d74da4.44853",
        "name": "checkLogin",
        "func": "if(msg.payload.login == 'login_desejado' \n    && msg.payload.password == 'senha_desejada')\n{\n    var log = msg.payload.login;\n    var pwd = msg.payload.password;\n    \n    msg.payload.login = 'correto';\n    msg.payload.password = 'correto';\n    return msg;\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 299,
        "y": 60,
        "wires": [
            [
                "eee8d946.3b9e98"
            ]
        ]
    },
    {
        "id": "19cbcfbc.dc9c8",
        "type": "ibmiot out",
        "z": "c6d74da4.44853",
        "authentication": "apiKey",
        "apiKey": "23707209.69454e",
        "outputType": "cmd",
        "deviceId": "001",
        "deviceType": "ESP32",
        "eventCommandType": "comando",
        "format": "json",
        "data": "{\"data\":\"data\"}",
        "qos": 0,
        "name": "commandRelay",
        "service": "registered",
        "x": 1052.0832595825195,
        "y": 742.4166488647461,
        "wires": []
    },
    {
        "id": "3ae1cefb.747b42",
        "type": "function",
        "z": "c6d74da4.44853",
        "name": "ParserToLabelR1",
        "func": "if(msg.payload.value == 1)\n{\n    msg.payload = 'ON';\n    return msg;\n}\nelse\n{\n    msg.payload = 'OFF';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 346.99999618530273,
        "y": 511.91667461395264,
        "wires": [
            [
                "6dfa32b4.caf6cc"
            ]
        ]
    },
    {
        "id": "49755662.2b1b28",
        "type": "function",
        "z": "c6d74da4.44853",
        "name": "ParserToLabelR2",
        "func": "if(msg.payload.value == 1)\n{\n    msg.payload = 'ON';\n    return msg;\n}\nelse\n{\n    msg.payload = 'OFF';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 439.333309173584,
        "y": 1119.4166259765625,
        "wires": [
            [
                "7f6d46c3.0b06e8"
            ]
        ]
    },
    {
        "id": "b69b94b2.663998",
        "type": "change",
        "z": "c6d74da4.44853",
        "name": "Muda payload para ir para controles",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Home_Group1\"],\"hide\":[\"Home_Relay_1\",\"Home_Relay_2\",\"Home_GroupLogout\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 757,
        "y": 201.25,
        "wires": [
            [
                "a362c8c9.00a508"
            ]
        ]
    },
    {
        "id": "b8160672.a4b0e8",
        "type": "comment",
        "z": "c6d74da4.44853",
        "name": "Formulario de Login",
        "info": "Formulario contendo os campo de de usuario e senha \npara autenticação.\n\nSe login correto: manda comando para o UI_CONTROL \n    esconder o formulário e mostrar os controles\n    dos relés;\n    \nSe login incorreto: apenas limpa o formulário;\n",
        "x": 427.5,
        "y": 20,
        "wires": []
    },
    {
        "id": "16baeff9.76335",
        "type": "comment",
        "z": "c6d74da4.44853",
        "name": "Sinal de que abriu no browser",
        "info": "Quando a página do node red é aberta no browser \n(pela primeira vez) esse bloco dispara um sinal \npara então o UI_CONTROL esconder os blocos de \ncontrole  e mostrar o de login.\n\n\n-Isso é necessário porque não temos como esconder\nwidgets por padrão, apenas por meio de código.",
        "x": 492,
        "y": 163,
        "wires": []
    },
    {
        "id": "b65f892b.c3bdc8",
        "type": "comment",
        "z": "c6d74da4.44853",
        "name": "LOGOUT",
        "info": "Evento de logout, esconderá as widgets de controle e \nmostrará o formulário de Login.",
        "x": 790.6666564941406,
        "y": 302.0000114440918,
        "wires": []
    },
    {
        "id": "8525ee9.9c17c1",
        "type": "comment",
        "z": "c6d74da4.44853",
        "name": "Status Inicial do relé",
        "info": "Ao abrir a página no browser, esse sinal é enviado\npara o PARSER setar a fução do STATUS_RELÉ como OFF.",
        "x": 373.9999771118164,
        "y": 295.33335304260254,
        "wires": []
    },
    {
        "id": "535c2c5.e4388d4",
        "type": "function",
        "z": "c6d74da4.44853",
        "name": "configureCommandTypeR1",
        "func": "\nmsg.eventOrCommandType = 'commandR1';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 717.7897186279297,
        "y": 614.0445032119751,
        "wires": [
            [
                "19cbcfbc.dc9c8"
            ]
        ]
    },
    {
        "id": "9d70e5a5.2d5d28",
        "type": "function",
        "z": "c6d74da4.44853",
        "name": "configureCommandTypeR2",
        "func": "\nmsg.eventOrCommandType = 'commandR2';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 723.7839508056641,
        "y": 820.0246829986572,
        "wires": [
            [
                "19cbcfbc.dc9c8"
            ]
        ]
    },
    {
        "id": "3e76494.841bfb6",
        "type": "ui_button",
        "z": "c6d74da4.44853",
        "name": "Logout",
        "group": "2e688aa9.af3026",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Logout",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Home_Relay_1\",\"Home_Relay_2\",\"Home_GroupLogout\"],\"show\":[\"Home_Group1\"]}}",
        "payloadType": "json",
        "topic": "",
        "x": 759.2500114440918,
        "y": 346.25000381469727,
        "wires": [
            [
                "a362c8c9.00a508"
            ]
        ]
    },
    {
        "id": "4d5b28c0.786298",
        "type": "ui_button",
        "z": "c6d74da4.44853",
        "name": "R1_ON",
        "group": "e3e479f2.48e4d8",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"value\":1}",
        "payloadType": "json",
        "topic": "",
        "x": 69,
        "y": 549.6666707992554,
        "wires": [
            [
                "3ae1cefb.747b42",
                "535c2c5.e4388d4"
            ]
        ]
    },
    {
        "id": "eb04c6bd.86bb78",
        "type": "ui_button",
        "z": "c6d74da4.44853",
        "name": "R2_OFF",
        "group": "edd59ec5.63778",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"value\":0}",
        "payloadType": "json",
        "topic": "",
        "x": 94.58327865600586,
        "y": 1089.6665906906128,
        "wires": [
            [
                "49755662.2b1b28",
                "9d70e5a5.2d5d28"
            ]
        ]
    },
    {
        "id": "65bed09a.2daaf",
        "type": "ui_button",
        "z": "c6d74da4.44853",
        "name": "R1_OFF",
        "group": "e3e479f2.48e4d8",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"value\":0}",
        "payloadType": "json",
        "topic": "",
        "x": 65,
        "y": 695.6666707992554,
        "wires": [
            [
                "3ae1cefb.747b42",
                "535c2c5.e4388d4"
            ]
        ]
    },
    {
        "id": "1e9f9db7.72b092",
        "type": "ui_button",
        "z": "c6d74da4.44853",
        "name": "R2_ON",
        "group": "edd59ec5.63778",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"value\":1}",
        "payloadType": "json",
        "topic": "",
        "x": 97.58327865600586,
        "y": 953.6665906906128,
        "wires": [
            [
                "49755662.2b1b28",
                "9d70e5a5.2d5d28"
            ]
        ]
    },
    {
        "id": "4d9720c1.1bc32",
        "type": "ui_form",
        "z": "c6d74da4.44853",
        "name": "formlogin",
        "label": "",
        "group": "4ce01d0.e7df4e4",
        "order": 2,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Login",
                "value": "login",
                "type": "text",
                "required": true
            },
            {
                "label": "Senha",
                "value": "password",
                "type": "password",
                "required": true
            }
        ],
        "formValue": {
            "login": "",
            "password": ""
        },
        "payload": "",
        "topic": "",
        "x": 84,
        "y": 60,
        "wires": [
            [
                "e9b4da5c.89e618"
            ]
        ]
    },
    {
        "id": "6dfa32b4.caf6cc",
        "type": "ui_text",
        "z": "c6d74da4.44853",
        "group": "e3e479f2.48e4d8",
        "order": 3,
        "width": "2",
        "height": "1",
        "name": "StatusRelay1",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 566.2499923706055,
        "y": 513.9166584014893,
        "wires": []
    },
    {
        "id": "7f6d46c3.0b06e8",
        "type": "ui_text",
        "z": "c6d74da4.44853",
        "group": "edd59ec5.63778",
        "order": 3,
        "width": "2",
        "height": "1",
        "name": "StatusRelay2",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 645.8332290649414,
        "y": 1118.9166450500488,
        "wires": []
    },
    {
        "id": "81f49dee.d3957",
        "type": "ui_template",
        "z": "c6d74da4.44853",
        "group": "4ce01d0.e7df4e4",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function() {\n    var count = 0\n    function testit(msg,scope) {\n        count = count+1;\n        console.log(\"In testit \" + msg.payload + \"  count = \" + count);\n        scope.send({payload: \"from testit \" + msg.payload + \"  count = \" + count});\n    }\n    \n    (function(scope) {\n        scope.send({payload: \"preload\"});   // this gets sent when the view is opened in the browser\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                testit(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 314.5,
        "y": 200.25,
        "wires": [
            [
                "b69b94b2.663998",
                "3ae1cefb.747b42",
                "49755662.2b1b28"
            ]
        ]
    },
    {
        "id": "a362c8c9.00a508",
        "type": "ui_ui_control",
        "z": "c6d74da4.44853",
        "name": "",
        "x": 1111.25,
        "y": 205,
        "wires": [
            []
        ]
    },
    {
        "id": "23707209.69454e",
        "type": "ibmiot",
        "z": "",
        "name": "Sender",
        "keepalive": "60",
        "serverName": "",
        "cleansession": false,
        "appId": "",
        "shared": false
    },
    {
        "id": "2e688aa9.af3026",
        "type": "ui_group",
        "z": 0,
        "name": "GroupLogout",
        "tab": "501c294f.eed1a8",
        "order": 4,
        "disp": false,
        "width": "4",
        "collapse": false
    },
    {
        "id": "e3e479f2.48e4d8",
        "type": "ui_group",
        "z": 0,
        "name": "Relay 1",
        "tab": "501c294f.eed1a8",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "edd59ec5.63778",
        "type": "ui_group",
        "z": 0,
        "name": "Relay 2",
        "tab": "501c294f.eed1a8",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "4ce01d0.e7df4e4",
        "type": "ui_group",
        "z": "",
        "name": "Group1",
        "tab": "501c294f.eed1a8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "501c294f.eed1a8",
        "type": "ui_tab",
        "z": 0,
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    }
]